:root {
    /* Main palette colors */
    --primary-color: #5D4E60;    /* Muted dark purple */
    --secondary-color: #826C7F;  /* Muted medium purple */
    --accent-color: #A88FAC;     /* Soft purple */
    --background-color: #F4F7F9; /* Very light blue-gray */
    --neutral-color: #D4B2D8;    /* Light grayish purple */

    /* Semantic colors */
    --info-color: #17a2b8;       /* Keeping a standard blue for info */

    /* Text colors */
    --light-text: #FFFFFF;       /* White for text on dark backgrounds */

    /* Semantic colors */
    --success-color: #2ECC71;    /* Soft green */
    --success-text: #3EEE90;
    --danger-color: #EF5F6F;     /* Soft red */
    --danger-text: #E74C3C;
    --warning-color: #F39C12;    /* Amber */
    --warning-text: #FFB61E;

    /* Component-specific colors */
    --button-hover-bg: #2980B9;  /* Darker blue for button hover */
    --input-focus-border: #826C7F; /* Adjusted to match the secondary color */

    /* Typography */
    --font-family-sans-serif: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    --font-family-serif: "Merriweather", Georgia, serif;
    --font-family-monospace: "Fira Code", "Courier New", monospace;

    /* Body styles */
    --body-bg: var(--background-color);
    --body-color: #2C3E50;       /* Dark blue-gray for main text */

    /* Link styles */
    --link-color: var(--accent-color);
    --link-decoration: none;
    --link-hover-color: #d54644; /* Darker shade of coral for hover */

    /* Additional theme-specific variables */
    --header-bg: var(--primary-color);
    --header-color: var(--neutral-color);
    --footer-bg: var(--secondary-color);
    --footer-color: var(--primary-color);
    --button-primary-bg: var(--accent-color);
    --button-primary-color: white;
    --card-bg: white;
    --card-border: var(--neutral-color);
}