<template id="accordion-table-template">
    <style>
        .accordion-table {
            width: 100%;
            border-collapse: collapse;
        }
        .accordion-table th, .accordion-table td {
            border: 1px solid var(--card-bg);
            padding: 10px;
            text-align: left;
            color: var(--light-text);
        }
        .accordion-table th {
            background-color: var(--card-bg);
            color: var(--dark-text);
        }
        .accordion-table .accordion-details {
            background-color: var(--card-bg);
            color: var(--dark-text);
        }
        .accordion-table .accordion-details p {
            color: var(--dark-text);
        }
    </style>
    <div class="table-container"></div>
</template>