<template id="data-table-template">
    <style>
        .data-table {
            width: 100%;
            border-collapse: collapse;
        }
        .data-table th, .data-table td {
            border: 1px solid var(--neutral-color);
            padding: var(--spacing-small, 10px);
            text-align: left;
            color: var(--light-text);
        }
        .data-table th {
            cursor: pointer;
            background-color: var(--secondary-color-light);
            color: var(--light-text);
        }
        .pagination-controls {
            margin-top: var(--spacing-small, 10px);
        }
        .pagination-controls button {
            margin-right: var(--spacing-small, 5px);
        }
    </style>
    <div class="table-container"></div>
</template>