<template id="dropdown-template">
    <style>
        :host {
            display: inline-block;
        }
        .dropdown-container {
            position: relative;
            width: 200px;
            font-family: var(--font-family-monospace), sans-serif;
        }
        .dropdown-toggle {
            padding: 10px;
            border: 1px solid var(--primary-color);
            background-color: black; /* Set the background color to black */
            color: var(--light-text); /* Ensure the text is visible on black background */
            cursor: pointer;
            user-select: none;
        }
        .dropdown-options {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            border: 1px solid var(--neutral-color);
            color: var(--light-text);
            border-top: none;
            list-style-type: none;
            padding: 0;
            margin: 0;
            max-height: 200px;
            overflow-y: auto;
            z-index: 1000;
        }
        .dropdown-option {
            padding: 10px;
            cursor: pointer;
        }
        .dropdown-option:hover {
            background-color: var(--button-hover-bg);
        }
    </style>
    <div class="dropdown-container">
        <div class="dropdown-toggle"></div>
        <ul class="dropdown-options"></ul>
    </div>
</template>