<template id="modal-dialog">
    <style>
        :host {
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: var(--modal-background);
            border-radius: var(--modal-border-radius);
            box-shadow: var(--modal-box-shadow);
            width: var(--modal-width);
            max-width: 100%;
            z-index: var(--modal-z-index);
            font-family: var(--font-family-sans-serif);
        }
        .header {
            padding: var(--modal-header-padding);
            background: var(--modal-header-background);
            color: var(--light-text);
            border-bottom: 1px solid var(--modal-header-border-color);
            font-size: var(--modal-header-font-size);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .body {
            padding: var(--modal-body-padding);
            color: var(--body-color);
        }
        .footer {
            padding: var(--modal-footer-padding);
            background: var(--modal-footer-background);
            border-top: 1px solid var(--modal-footer-border-color);
            text-align: right;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    </style>
    <div class="header">
        <slot name="header"></slot>
    </div>
    <div class="body">
        <slot name="body"></slot>
    </div>
    <div class="footer">
        <custom-button on="click:{{close}}">Close</custom-button>
        <slot name="footer"></slot>
    </div>
</template>