<template id="tree-table-template">
    <style>
        .tree-table {
            width: 100%;
            border-collapse: collapse;
        }
        .tree-table th, .tree-table td {
            border: 1px solid var(--neutral-color);
            padding: var(--spacing-small, 10px);
            text-align: left;
        }
        .tree-table th {
            background-color: var(--secondary-color);
            color: var(--dark-text);
        }
        .tree-table .toggle-icon {
            cursor: pointer;
            margin-right: var(--spacing-extra-small, 5px);
            color: var(--light-text);
        }
        .tree-table-row {
            padding-left: var(--spacing-none, 0);
            color: var(--light-text);
        }
    </style>
    <div class="table-container"></div>
</template>